@{
    ViewData["Title"] = "Index Home";
}

<h3>@ViewBag.Fecha</h3>

@section SideBar{

    <h3>¡Bienvenidos a Mis Recetas!</h3>

    <img src="~/fotos/desayuno1.jpg" />
    <img src="~/fotos/desayuno2.jpg" />
    <img src="~/fotos/receta-de-desayuno-americano-1.jpg" />

        }

<div>
    <p>
        El desayuno es la primera comida que se consume en el día. El nombre deriva del hecho de que uno no come mientras duerme, por lo que al levantarse se encuentra en ayunas, rompiéndose ese ayuno al tomar esta comida (des-ayuno).
    </p>
    <p>
        El desayuno es la comida fundamental del día, ya que consumirlo o no, nos afecta de forma notable a corto y a largo plazo. Se ha demostrado que los niños que no desayunan o que solo toman un vaso de leche, rinden menos en el colegio que los que ingieren un desayuno adecuado. Estudios recientes afirman que el desayunar ayuda a acelerar el metabolismo, lo cual es un factor beneficioso para prevenir la obesidad.
    </p>
    <p>
        En Estados Unidos de América el desayuno completo consiste en panceta, huevos, hash browns y tostada. A menudo se le denomina country breakfast (‘desayuno campestre’) en muchas zonas del Medio Oeste.
    </p>
</div>

